<!-- sidebar.html -->
 //Dont touch AHAHA
<html>
    <head>
    </head>
    <body>
    </body>
    

</html>

<div class="sidebar">
  <div class="logo">
    <div href="../Home/index.html" class="nav-logo">
      <img src="../Main Picture/mainPic.png" alt="logo" class="logo-image">
    </div>
    <p>Campus Tech Assist</p>
  </div>

  <div class="section-title">Discover</div>

  <div class="menu">
    <a href="../Home/index.html">Home</a>
    <a href="../CCS Department/ccsDept.html">CCS Department</a>
    <a class="active" href="../Guide Go/guideGo.html">Guide Go</a>
    <a href="../Tech Tutorial/techTut.html">Tech Tutorial</a>
    <a href="../Lost and Found/lostnFound.html">Lost and Found</a>
  </div>
</div>